* {
	background-color: rgb(245, 245, 245);
	box-sizing: border-box;
}

* {
	font-size: 17px;
	font-family: sans-serif; 
}

body {
	-webkit-text-size-adjust: 130%;
}

h1 {
	text-align: center;
	font-size:40px;
}

p {
	color: black;
}

#wrapper {
	width: auto;
	min-width: 600px;
	max-width: 1200px;
}

#header {
	width: 100%;
}

#category_title {
	text-align: center;
	width: 100%;
}

#category_item_list {
	width: 100%;
}

#detail_body {
	width: 100%;
}

#diary_body {
	width: 100%;
}

#footer {
	width: 100%;	
}

div.page_title {
	text-align: center;
	width: 100%;
}

div.diary_returnto_top {
	clear: both;
	text-align: right;
	margin-top: 20px;
	width: 100%;
}

div.left_img {
	float: left;
	vertical-align: top;
	max-width:60%
}

div.left_img img {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	max-width:100%
}

div.right_img {
	float: right;
	vertical-align: top;
	max-width:60%
}

div.right_img img {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
}

div.large_img {
	max-width: 100%;
	vertical-align: top;
}

div.large_img img {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
}

div.two_column_img {
	float: left;
	max-width:50%;
}

div.three_column_img {
	float: left;
	max-width:33%;
}

div.section{
	clear: both;
	text-align: left;
	overflow: hidden;
}

div.section h2 {
	background-color:lightgrey ;
	padding-top: 2px;
	padding-left: 10%;
	text-align: left;
	font-size: 25px;
}

div.diary_section {
	clear: both;
	margin-top: 20px;
	width: 100%;
}

div.diary_section h2 {
	background-color:lightgrey ;
	padding-top: 2px;
	text-align: center;
	font-size: 25px;	
}

div.topic{
	clear: both;
	padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
	overflow: hidden;
}

div.topic h3{
	font-size:20px;
}

div.model_list {
	clear: both;
	padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
	overflow: hidden;	
}

div.model_lilst h3 {
	font-size:20px;
}

div.model_list img {
	width: 100%
}

div.general_description {
	clear: both;
	text-align: left;
}

div.photo_description {
	padding-top: 20px;
	text-align: left;
}

div.clear {
	clear: both;
}

#detail_body ul li {
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	line-height:1.1;
}

/*
*  詳細インデックスページ フォーマット
*/
#category_item_list table {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

#category_item_list.item_title_photo {
	width: 150px;
}

#category_item_list.item_caption {
	padding: 10px;
}

#category_item_list h5 {
	font-size: 20px;
	font-weight: bold; 
}

#category_item_list .item_link {
	text-align: right;
}

#category_title img {
	max-width: 100%
}


/*
* 「部品たち」 比較用テーブルフォーマット
*/
/* 部品一覧 */
div.parts_table {
    clear: both;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
	overflow: hidden;	
}

div.parts_table table {
	table-layout: fixed;	
	border: "0";
	padding: 3%;
}

.parts_fig {
	width: 50%;
}

.parts_description {
	width: 50%;
}

div.parts_table img {
	width: 100%;
}

div.parts_table2p {
    clear: both;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
	overflow: hidden;	
}

div.parts_table2p table {
	table-layout: fixed;	
	border: "0";
	padding: 3%;
}

.parts_fig {
	vertical-align: top;
	width: 25%;
}

.parts_description {
	width: 50%;
}

div.parts_table2p img {
	width: 100%;
}

div.parts_table2p h3 {
	font-size:25px;
}



/* 部品取り付け比較 */
div.parts_armed table {
	table-layout: fixed;	
	border: "0";
	padding: 3%;
}

.parts_description {
	width: 45%;
}

.parts_side {
	width: 13.5%;
}

.parts_top {
	width: 40%;
}

div.parts_armed img {
	width: 100%;
}



